
.bg-hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    //z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-image: url('../svg/fujihero1.jpg');
    background-size: cover;
    background-position:  70% center;
    background-repeat: no-repeat;

    animation: bg-hero 16s ease 16s infinite alternate;

    &::after{
        content: '';
        position: absolute;
        display: block;
        top: 0;

        width: 100%;
        height: 100%;

        background: 
        linear-gradient(180deg, rgba(7, 8, 7, 0.99) 0%, rgba(7, 8, 7, 0.0) 15%, rgba(7, 8, 7, 0.0) 30%, rgba(7, 8, 7, 0.99) 100%)
        ;
    }

    &::before{
        content: '';
        position: absolute;
        display: block;
        top: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(270deg, rgba(7, 8, 7, 0.0) 0%, rgba(7, 8, 7, 0.90) 100%);
    }
}

@keyframes bg-hero{
    0%,30%{
        background-image: url('../svg/fujihero1.jpg');
    }
    35%,65%{
        background-image: url('../svg/fujihero2.jpg');
    }
    70%,100%{
        background-image: url('../svg/fujihero3.jpg');
    }
}

.bar-photo-1{
    animation: bar-photo-1 16s ease 16s infinite alternate;
}
@keyframes bar-photo-1{
    0%,30%{
        background-color: rgba(255,255,255,0.9);
    }
    33%,66%{
        background-color: rgba(255,255,255,0.1);
    }
    70%,100%{
        background-color: rgba(255,255,255,0.1);
    }
}


.bar-photo-2{
    animation: bar-photo-2 16s ease 16s infinite alternate;
}
@keyframes bar-photo-2{
    0%,30%{
        background-color: rgba(255,255,255,0.1);
    }
    33%,66%{
        background-color: rgba(255,255,255,0.9);
    }
    70%,100%{
        background-color: rgba(255,255,255,0.1);
    }
}


.bar-photo-3{
    animation: bar-photo-3 16s ease 16s infinite alternate;
}
@keyframes bar-photo-3{
    0%,30%{
        background-color: rgba(255,255,255,0.1);
    }
    33%,66%{
        background-color: rgba(255,255,255,0.1);
    }
    70%,100%{
        background-color: rgba(255,255,255,0.9);
    }
}


.container-hero {
    max-width: $container-xl;
    height: 100vh;
    margin: 0 auto;
  
    padding: 96px 16px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
  
    @include responsive(s) {
      flex-direction: column;
      height: auto;
  
      padding: 144px 8px 64px 8px;
    }
}

.screen-loading{
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 999;
    background-color: $black-dark;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

}



.bg-white{
    //background-color: $white-normal;
    background-color: #F7F8FC;
    z-index: 100;
}

.bg-black{
    background-color: $black-light;
    position: relative;
    z-index: 100;
}

.bg-body{
    background-color: $black-normal;
    position: relative;
    z-index: 100;
}

.bg-testimonials{
    background-color: $black-normal;
}



.bg-cta{
    width: 100%;
    height: 100vh;
    z-index: -1;

    pointer-events: none;
    overflow: hidden;
    position: absolute;

    background-image: url('../img/weg.jpg');
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;

    @include responsive(s){
        height: 180vh;
        background-position: 65% 100%;
    }

    &::after{
        content: '';
        position: absolute;
        display: block;
        top: 0;

        width: 100%;
        height: 100%;
        z-index: -1;

        background: linear-gradient(180deg, #0F0F0F 0%, rgba(15, 15, 15, 0.00) 40%, #070807 60%);
    }

    &::before{
        content: '';
        position: absolute;
        display: block;
        bottom: 0;

        z-index: -1;

        width: 100%;
        height: 100%;

        background: linear-gradient(270deg, rgba(7, 8, 7, 0.0) 0%, rgba(7, 8, 7, 0.90) 100%);
    }
}
